<dl class='plans'>
    <dt>ライトコース</dt>
    <dd><span class='price'>月3,500円</span><br>質問チケット月<span class='tickets'>５</span>枚</dd>
    <dt>ベーシックコース</dt>
    <dd><span class='price'>月7,000円</span><br>質問チケット月<span class='tickets'>１２</span>枚</dd>
    <dt>マスターコース</dt>
    <dd><span class='price'>月9,800円</span><br>質問チケット月<span class='tickets'>２０</span>枚</dd>
    <dt>追加チケット</dt>
    <dd><span class='price'>3,500円</span><br>質問チケット<span class='tickets'>５</span>枚</dd>
</dl>