.new_personal,.edit_personal{
    background-color:mediumseagreen;
    width:756px;
    margin:0 auto;
    padding:10px;
    box-sizing:border-box;
    border-radius:10px;
    input,select,label{
        display:block;
        width:60%;
        margin:10px auto;
        border:none;
        box-sizing:border-box;
        border-radius:5px;
        font-size:24px;
        color:black;
        &::placeholder{
            color:gainsboro;
        }
    }
    label{
        color:white;
        font-size:20px;
        font-weight:bold;
    }
    input[type="submit"]{
        background-color:lightcyan;
        color:dimgray;
        margin-top:20px;
        box-shadow:4px 4px gray;
        &:hover{
            background-color:green;
            color:white;
        }
    }
}

.student_base{
    width: 756px;
    margin: 0 auto;
    background-color:lavender;
    padding:10px;
    border-radius:10px;
    dt{
        font-size: 20px;
        clear:both;
        float:left;
        width:200px;
        border-right: solid 2px gray;
        box-sizing:border-box;
        margin-bottom:20px;
    }
    dd{
        margin-left:0;
        float:left;
        font-size:20px;
        margin-bottom:10px;
        padding-left:20px;
    }
}

.subsc{
    width:756px;
    margin:0 auto;
    .subscriptions{
        box-sizing:border-box;
        padding:5px;
        text-align:center;
        width: 33.3%;
        float:left;
        border-right:solid 3px gray;
        &:last-child{
            border-right:none;
        }
        form{
            display:block;
            margin:0 auto;
        }
    }
}


@media screen and (max-width:756px){
    .new_personal,.edit_personal{
        width:90%;
    }
    .student_base{
        width:90%;
        dt{
            float:none;
            border-right:none;
            border-bottom:solid 3px green;
        }
        dd{
            float:none;
            border-bottom: dashed 2px gray;
        }
    }
    .subsc{
        width:90%;
        margin:0 auto;
        .subscriptions{
            width: 100%;
            float:none;
            border-right:none;
            border-bottom:dashed 3px gray;
        }
    }

}