<nav>
    <ul class='clearfix'>
        <li><%= link_to 'わかる！解説動画' ,root_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to 'まずは無料質問' ,root_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to '月額コース紹介' ,root_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to 'Q　＆　A' ,faq_path, data: {"turbolinks" => false} %></li>
    </ul>
</nav>